/* All cards */
.myCards{
    margin:5% 20% 0% 20%;
}

/* Quiz Intro Card */
#quizIntroCard{
    visibility: visible;
}

/* Quiz Card */
.qAnswers{     
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
}

/* Answer Buttons */
.aBtn{
    margin-top: 1vh;
    position: relative;
    font-size: 70%;
    text-align: left;
}

/* Correct/Wrong Result Footer in Quiz Card */
.resultFoot{   
    margin-top: 2vh;
    padding-left: 0;   
}